.v-speed-dial--bottom {
  bottom: 100px;
}

.v-input--selection-controls {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.v-color-picker__alpha:not(.v-input--is-disabled) .v-slider {
  display: none;
}

.v-color-picker__preview:not(.v-color-picker__preview--hide-alpha) .v-color-picker__hue {
  margin-top: 26px;
}

.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
  color: black;
}