<template>
  <v-col
    cols="12"
    sm="6"
    :md="preview ? 10 : 4">
    <v-card
      :color="color"
      class="l-item"
      dark
    >
      <v-card-title class="headline">
        <div class="l-note-title d-flex align-center justify-space-between">
          <span class="l-title">
            {{ getTitle }}
          </span>
          <v-checkbox
            v-model="toRemove"
            @click="toRemoveChange"
            color="error"
            :value="true"
            hide-details
            v-if="getMode === 'remove'"
          />
          <span class="l-date" v-else-if="getMode === 'view'">{{ getDate }}</span>
          <v-btn
              icon
              v-else-if="getMode === 'edit'"
              color="black"
              @click="toEdit"
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
        </div>
      </v-card-title>
      <v-card-subtitle>
        <span class="l-item-content">
          <Item
            v-for="item in items"
            :key="item.id"
            :title="item.title"
            :checkedInitial="item.checked"
            :notUseful="preview"
            :selection="item.selection"
            :note="item.note"
            :id="item.id"
          />
        </span>
      </v-card-subtitle>
    </v-card>
  </v-col>
</template>

<script>
import Item from '../Item/index.vue';

const computed = {
  getTitle() {
    return this.title ? this.title : 'Without name';
  },

  getMode() {
    if (this.mode === 'view') {
      this.toRemove = false;
    }

    return this.mode;
  },

  getDate() {
    let { date } = this;

    if (date) {
      const [year, month, day] = date.split('-').map((e) => parseInt(e, 10));

      date = new Date(year, month - 1, day);
    } else {
      date = new Date();
    }

    const month = date.toLocaleString(
      'en-us',
      { month: 'short' }
    );

    return `${month} - ${date.getDate() <= 9 ? '0' : ''}${date.getDate()}`;
  }
};

const data = () => ({
  toRemove: false,
});

const methods = {
  toRemoveChange() {
    if (this.toRemove) {
      this.$emit('line-remove', this.id);
    } else {
      this.$emit('line-unremove', this.id);
    }
  },

  toEdit() {
    this.$emit('edit-note', this.id);
  }
};

const components = {
  Item
};

export default {
  name: 'Note',
  computed,
  data,
  methods,
  components,
  props: {
    id: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      default: 'Without title'
    },
    color: {
      type: String,
      default: '#385F73'
    },
    items: Array,
    date: {
      type: String,
      default: ''
    },
    preview: {
      type: Boolean,
      default: false
    },
    mode: {
      type: String,
      default: 'view'
    }
  }
};
</script>

<style lang="scss" scoped>
.l-item {
  max-height: 300px;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: black;
  }

  .l-preview {
    width: 300px;
  }

  .l-note-title {
    width: 100%;

    .l-title {
      color: black;
      font-weight: bolder;
    }
  }

  .l-date {
    font-size: 0.6em;
    color: black;
  }
}
</style>
