<template>
  <v-speed-dial
      v-model="show"
      bottom
      fixed
      right
      absolute
      direction="top"
    >
    <template v-slot:activator>
      <v-btn
        v-model="show"
        fab
      >
        <v-icon v-if="show">
          mdi-close
        </v-icon>
        <v-icon v-else>
          mdi-cog-outline
        </v-icon>
      </v-btn>
    </template>
    <v-btn
      :disabled="!notes.length > 0"
      fab
      :dark="notes.length > 0"
      small
      @click="changeMode('remove')"
      v-if="mode === 'view'"
      color="red">
      <v-icon>mdi-delete</v-icon>
    </v-btn>
    <v-btn fab small @click="openNoteConfig" color="blue" dark v-if="mode === 'view'">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-btn
      :disabled="!notes.length > 0"
      fab
      small
      :dark="notes.length > 0"
      @click="changeMode('edit')"
      color="green"
      v-if="mode === 'view'">
      <v-icon>mdi-pencil</v-icon>
    </v-btn>
    <v-btn fab small @click="changeMode('view')" color="dark" v-if="mode !== 'view'">
      <v-icon>mdi-close</v-icon>
    </v-btn>
    <v-btn fab dark small @click="remove" v-if="mode === 'remove'" color="red">
      <v-icon>mdi-delete</v-icon>
    </v-btn>
  </v-speed-dial>
</template>

<script>
import { mapGetters } from 'vuex';

const data = () => ({
  show: false,
  mode: 'view',
});

const methods = {
  openNoteConfig() {
    this.$emit('open-note-config');
  },

  changeMode(mode) {
    this.mode = mode;
    this.$emit('change-mode', mode);
  },

  remove() {
    this.$emit('remove');
  }
};

const computed = {
  ...mapGetters(['notes'])
};

export default {
  name: 'NoteConfigBtn',
  computed,
  data,
  methods
};
</script>
