<template>
  <v-row justify="center">
    <v-dialog
      v-model="show"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
    <v-snackbar
      timeout="2000"
      v-model="snackbar"
      absolute
      right
      color="error"
      shaped
      top
    >
      {{ error }}
    </v-snackbar>
      <Confirm
        title="You didn't saved your changes yet, close anyway?"
        content="If you proceed, all your changes will be lost."
        @next="close"
        ref="closeConfirm" />
      <v-card>
        <v-toolbar dark>
          <v-btn icon dark @click="confirm">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ noteConfigTitle }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              text
              @click="save"
            >
              Save
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="5"
            >
              <v-text-field
                label="Title"
                placeholder="Insert a title"
                filled
                v-model="title"
                rounded
                prepend-icon="mdi-ticket-percent"
                dense
                required
              />
              <v-menu
                ref="menu"
                v-model="dateMenu"
                :close-on-content-click="false"
                :return-value.sync="date"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="date"
                    label="Choose a date"
                    prepend-icon="mdi-calendar"
                    readonly
                    rounded
                    filled
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date"
                  no-title
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="dateMenu = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu.save(date)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>

                <v-color-picker
                  class="ma-2"
                  id="color-picker"
                  hide-canvas
                  hide-inputs
                  v-model="color"
                />
                <Item
                  v-for="item in items"
                  :key="item.id"
                  :title="item.title"
                  :selection="item.selection"
                  :note="item.note"
                  :notUseful="true"
                  :id="item.id"
                  @remove-item-preview="removeItem"
                  :preview="true"
                />
              <div class="d-flex">
                <v-text-field
                  label="Item"
                  placeholder="Insert a item"
                  filled
                  prepend-icon="mdi-flag-plus"
                  v-model="item"
                  rounded
                  dense
                  required
                />

                <v-btn
                  color="secondary"
                  fab
                  small
                  id="l-add-item"
                  dark
                  @click="addItem"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>

              <v-checkbox
                v-model="selection"
                label="Selection box"
                color="success"
                hide-details
              ></v-checkbox>

              <div class="text-center" v-if="breakPoint">
                <v-btn
                  rounded
                  color="black"
                  dark
                  @click="previewMobile = true"
                  width="80%"
                >
                  Preview
                </v-btn>
              </div>
              <v-dialog
                v-model="previewMobile"
                width="500"
              >
                <v-card>
                  <Note
                    :title="title"
                    :color="color"
                    :date="date"
                    :items="items"
                    :id="id"
                    preview
                  />
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      text
                      @click="previewMobile = false"
                    >
                      Ok
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col
              cols="6"
              sm="0"
              md="6"
              v-if="!breakPoint"
            >
              <div class="d-flex justify-center align-center">
                <Note
                  :title="title"
                  :color="color"
                  :date="date"
                  :items="items"
                  :id="id"
                  preview />
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapActions } from 'vuex';

import { vueWindowSizeMixin } from 'vue-window-size';

import Note from '../Note/index.vue';
import Confirm from '../Confirm/index.vue';
import Item from '../Item/index.vue';

import Helpers from '../../helpers';

import validation from '../../validation';

const data = () => ({
  title: '',
  noteConfigTitle: 'Adding note',
  id: '',
  color: '',
  date: '',
  show: false,
  previewMobile: false,
  item: '',
  items: [],
  selection: false,
  error: '',
  snackbar: false,
  dateMenu: false
});

const computed = {
  breakPoint() {
    const width = vueWindowSizeMixin.computed.windowWidth();

    return width <= 960;
  }
};

const methods = {
  close() {
    this.clearable();
    this.show = false;
  },

  confirm() {
    this.$refs.closeConfirm.show = true;
  },

  removeItem(id) {
    this.items = this.items.filter((i) => i.id !== id);
  },

  addItem() {
    let { item: title } = this;

    const { selection } = this;

    if (!title) {
      this.snackbar = true;
      this.error = 'Please, insert a title on item';
    } else {
      title = title.trim();

      if (this.items.length < 1 && this.noteConfigTitle !== 'Editing note') {
        this.id = Helpers.identify.createId('note');
      }

      const item = {
        id: Helpers.identify.createId(title),
        note: this.id,
        title,
        checked: false,
        selection
      };

      const error = validation.item(item);

      if (error) {
        this.error = error;
        this.snackbar = true;
      } else {
        this.items.push(item);
      }
    }
  },

  async save() {
    let { title } = this;

    const {
      color, date, items, id
    } = this;

    title = title.trim();

    let error = validation.title(title);

    if (error) {
      this.error = error;
      this.snackbar = true;
    }

    error = validation.date(date);

    if (error) {
      this.error = error;
      this.snackbar = true;
    }

    error = validation.items(items);

    if (error) {
      this.error = error;
      this.snackbar = true;
    }

    if (!error) {
      const note = {
        id,
        title,
        color,
        date,
        items
      };

      await this.saveNote(note);

      this.close();
      this.$emit('added');
    }
  },

  clearable() {
    this.title = '';
    this.color = '';
    this.item = '';
    this.id = '';
    this.date = '';
    this.items = [];
  },

  ...mapActions(['saveNote'])
};

export default {
  name: 'NoteConfig',
  data,
  computed,
  methods,
  components: { Note, Confirm, Item },
  mounted() {
    if (!this.id) {
      this.id = Helpers.identify.createId();
    }
  }
};
</script>

<style lang="scss" scoped>
#t-preview {
  background-color: rgba(128, 128, 128, 0.137);
  height: 377px;
}

#l-add-item {
  margin-top: 5px;
  margin-left: 5px;
}
</style>
