<template>
  <div>
    <v-snackbar
      timeout="2000"
      v-model="snackbar"
      absolute
      right
      color="success"
      shaped
      top
    >
      {{ message }}
    </v-snackbar>
    <Header />
    <v-divider />
    <NoteList
      :mode="mode"
      ref="NoteList"
      @edit-note="editNote"
    />
    <NoteConfigBtn
      @open-note-config="openNoteConfig"
      @change-mode="changeMode"
      @remove="remove"
    />
    <NoteConfig @added="added" ref="NoteConfig"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import Header from '../../components/Header/index.vue';
import NoteConfigBtn from '../../components/NoteConfigBtn/index.vue';
import NoteList from '../../components/NoteList/index.vue';
import NoteConfig from '../../components/NoteConfig/index.vue';

const data = () => ({
  mode: 'view',
  snackbar: false,
  message: ''
});

const methods = {
  openNoteConfig() {
    this.$refs.NoteConfig.show = true;
  },

  async editNote(id) {
    const {
      title, selection, date, items, color
    } = await this.noteById(id);

    this.$refs.NoteConfig.id = id;
    this.$refs.NoteConfig.title = title;
    this.$refs.NoteConfig.selection = selection;
    this.$refs.NoteConfig.date = date;
    this.$refs.NoteConfig.color = color;
    this.$refs.NoteConfig.items = items;

    this.$refs.NoteConfig.noteConfigTitle = 'Editing note';

    this.$refs.NoteConfig.show = true;
  },

  changeMode(mode) {
    this.mode = mode;
  },

  remove() {
    const { line } = this.$refs.NoteList;

    this.removeNotes(line);
  },

  added() {
    this.snackbar = true;
    this.message = 'Note successfully added';
  },

  ...mapActions(['removeNotes']),
};
const computed = {
  ...mapGetters(['noteById'])
};

const components = {
  Header, NoteConfigBtn, NoteList, NoteConfig
};

export default {
  name: 'Dashboard',
  components,
  computed,
  methods,
  data
};
</script>
