<template>
  <v-container class="l-note-list">
    <v-row v-if="notes.length">
      <Note
        v-for="note in notes"
        :key="note.id"
        :mode="getMode"
        :id="note.id"
        :title="note.title"
        :items="note.items"
        :preview="false"
        :date="note.date"
        @edit-note="editNode"
        @line-remove="lineRemove"
        @line-unremove="lineUnremove"
        :color="note.color" />
    </v-row>
    <div v-else>
      <v-row id="l-desert">
        <v-col class="d-flex justify-center align-center">
          <img src="./../../assets/desert.png" alt="desert">
        </v-col>
      </v-row>
      <v-row >
        <v-col class="d-flex justify-center align-center">
          <h4>Without notes</h4>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';

import Note from '../Note/index.vue';

const computed = {
  ...mapGetters(['notes']),

  getMode() {
    if (this.mode === 'view') {
      this.line = [];
    }

    return this.mode;
  }
};

const methods = {
  lineUnremove(id) {
    const index = this.line.indexOf(id);

    if (index > -1) {
      this.line.splice(1, index);
    }
  },

  lineRemove(id) {
    this.line.push(id);
  },

  editNode(id) {
    this.$emit('edit-note', id);
  }
};

const data = () => ({
  line: []
});

const props = {
  mode: {
    type: String,
    default: 'view',
  }
};

export default {
  name: 'NoteList',
  components: { Note },
  computed,
  data,
  methods,
  props
};
</script>

<style lang="scss" scoped>
.l-note-list {
  margin-bottom: 50px;

  #l-desert {
    margin-top: 7vh;
  }
}
</style>
