<template>
  <v-dialog
    v-model="show"
    max-width="300"
  >
    <v-card>
      <v-card-title class="headline">
        Are you sure?
      </v-card-title>
      <v-card-actions class="d-flex flex-column">
        <v-spacer></v-spacer>

        <v-card-text>
          {{ content }}
        </v-card-text>

        <v-row class="d-flex justify-around">
          <v-col cols="6">
            <v-btn
              color="green darken-1"
              text
              @click="next"
            >
              Yes
            </v-btn>
          </v-col>
          <v-col cols="6">
            <v-btn
              color="green darken-1"
              text
              @click="show = false"
            >
              No
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

const props = {
  title: {
    type: String,
    default: 'Without title'
  },

  content: {
    type: String,
    default: 'Without content'
  },
};

const data = () => ({
  show: false
});

const methods = {
  next() {
    this.$emit('next');
    this.show = false;
  }
};

export default {
  name: 'Confirm',
  data,
  props,
  methods
};
</script>
