<template>
  <div class="d-flex align-center justify-space-between">
    <div>
      <v-checkbox
        :key="id"
        :label="title"
        @click="onChangeSelection"
        color="black"
        v-model="checked"
        :class="`l-item ${lineThrough}`"
        hide-details
        :dark="!preview"
        v-if="selection"
      />
      <div class="l-divider" v-else>
        <span class="l-item">{{ title }}</span>
      </div>
    </div>
    <v-btn
      icon
      color="red"
      @click="removeItemPreview"
      v-if="preview"
    >
      <v-icon>mdi-delete</v-icon>
    </v-btn>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

const methods = {
  onChangeSelection() {
    if (!this.notUseful) {
      const { id: itemId, note: noteId, checked } = this;

      const data = {
        itemId,
        noteId,
        checked
      };

      this.changeSelectItem(data);
    }
  },

  removeItemPreview() {
    this.$emit('remove-item-preview', this.id);
  },

  ...mapActions(['changeSelectItem'])
};

const data = () => ({
  checked: false
});

const computed = {
  lineThrough() {
    return this.checked ? 'l-line-through' : '';
  }
};

export default {
  name: 'Item',
  methods,
  computed,
  data,
  props: {
    title: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    selection: {
      type: Boolean,
    },
    checkedInitial: {
      type: Boolean
    },
    notUseful: {
      type: Boolean
    },
    note: {
      type: String,
      required: true
    },
    preview: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    if (!this.notUseful) {
      this.checked = this.checkedInitial;
    }
  }
};
</script>

<style lang="scss" scoped>
.l-item {
  color: black;
}

.l-divider {
  margin: 10px 0px;

  span {
    font-weight: bolder;
  }
}

.l-line-through {
  text-decoration: line-through;
}
</style>
