<template>
  <header id="t-header">
    <v-container>
      <img
        src="./../../assets/logo.svg"
        id="t-logo"
        alt="logo" />
    </v-container>
  </header>
</template>

<script>

export default { name: 'Header' };

</script>

<style lang="scss" scoped>

#t-header {
  #t-logo { width: 190px; }
}
</style>
