<template>
  <footer id="t-footer">
    <v-divider />
    <v-row>
      <v-col
        md="12"
        lg="12"
        sm="12"
        class="d-flex justify-center">
        <span>
          Made with
          <v-icon id="t-heart">mdi-heart</v-icon>
          using <v-icon id="t-vuejs">mdi-vuejs</v-icon>,
          at <v-icon id="t-netlify">mdi-rhombus-split</v-icon>
        </span>
      </v-col>
    </v-row>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
};
</script>

<style lang="scss" scoped>
#t-footer {
  position: absolute;
  bottom: 0px;

  width: 100vw;

  background-color: rgb(241, 241, 241);

  #t-heart { color: rgb(238, 46, 46); }

  #t-vuejs { color: rgb(66, 197, 105); }

  #t-netlify { color: rgb(66, 86, 197); }
}
</style>
