<template>
  <v-app>
    <Dashboard />
    <Footer />
  </v-app>
</template>

<script>
import { mapActions } from 'vuex';

import Dashboard from './pages/Dashboard/index.vue';
import Footer from './components/Footer/index.vue';

export default {
  name: 'App',
  components: { Dashboard, Footer },
  methods: { ...mapActions(['mount']) },
  async mounted() {
    let storageState = await localStorage.getItem('state');

    if (storageState) {
      storageState = JSON.parse(storageState);

      await this.mount(storageState);
    }
  }
};
</script>
